#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Exec= bash $HOME/.config/conky/weather/conky_weather_trigerr.sh
X-GNOME-Autostart-enabled=true
X-MATE-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=weather
Comment[en_US]=
X-GNOME-Autostart-Delay=0
Terminal=true
